version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8080:8080"
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "5173:5173"
